<div class="button-container">
    <button type="submit" name="option" value="first" {{ 'disabled' if butshow == 'disabled' }}>Primeiro</button>
    <button type="submit" name="option" value="previous" {{ 'disabled' if butshow == 'disabled' }}>Anterior</button>
    <button type="submit" name="option" value="next" {{ 'disabled' if butshow == 'disabled' }}>Próximo</button>
    <button type="submit" name="option" value="last" {{ 'disabled' if butshow == 'disabled' }}>Último</button>
    <button type="submit" name="option" value="edit" {{ 'disabled' if butshow == 'disabled' }}>Editar</button>
    <button type="submit" name="option" value="delete" {{ 'disabled' if butshow == 'disabled' }}>Eliminar</button>
    <button type="submit" name="option" value="insert" {{ 'disabled' if butshow == 'disabled' }}>Novo</button>

    {% if butedit == 'enabled' %}
        <button type="submit" name="option" value="save">Guardar</button>
        <button type="submit" name="option" value="cancel" class="cancel-btn">Cancelar</button>
    {% endif %}
    
    <button type="submit" name="option" value="exit">Sair</button>
</div>
